html {
  background-color: #000;
  color: #F0c0FF;
  font-family: Verdana, "Times New Roman", sans-serif;
  font-size: 14px;
}

p {
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

.hint {
  text-align: justify;
  text-align-last: center;
  margin: 1vh auto;
  max-width: 800px;
}